.webgl-content,
* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.webgl-content {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
}

#gameContainer,
canvas {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

.webgl-content .logo,
.progress {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('progressLogo.Light.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 90px;
}

.webgl-content .progress .empty {
    background: url('progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.webgl-content .logo.Dark {
    background-image: url('progressLogo.Dark.png');
}

.webgl-content .progress.Dark .empty {
    background-image: url('progressEmpty.Dark.png');
}

.webgl-content .progress.Dark .full {
    background-image: url('progressFull.Dark.png');
}



#logo {
    height: 30px;
    margin: 10px;
}

.more-games {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin: 5px 10px;
    opacity: 0.5;
    text-align: center;
    text-decoration: none;
    float: right;
    background-color: #333;
}

.more-games:hover {
    opacity: 1;
}