.u-section-1 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1 .u-text-1 {
  margin: 60px 106px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 106px;
}

.u-section-1 .u-blog-1 {
  width: 1308px;
  margin: 32px -84px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 506px;
  grid-gap: 22px 22px;
  grid-auto-columns: calc(25% - 16.5px);
}

.u-section-1 .u-repeater-item-1 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-image-1 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-2 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-image-2 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/f350858d312ce758a80789ecb4d165300d545cfe4a2a8084369e6dc4098d6691423d8b07edb405bcde5fcae4ce1f55e6357d8dbd6ccc1a3ff1e658_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-4 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-image-4 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/unblocked-games.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-metadata-4 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 69px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 356px;
  }

  .u-section-1 .u-image-1 {
    height: 225px;
  }

  .u-section-1 .u-image-2 {
    height: 225px;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
  }

  .u-section-1 .u-image-4 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 51px;
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 1159px;
    grid-auto-columns: calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 497px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -465px;
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: 459px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -414px;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 264px;
  }
}