.u-section-1 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-1 .u-text-1 {
  margin: 87px 106px 0;
}

.u-section-1 .u-blog-1 {
  margin: 58px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 375px;
  grid-gap: 22px;
}

.u-section-1 .u-repeater-item-1 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-image-1 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-2 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-image-2 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 31px auto 60px;
}

.u-section-1 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 311px;
  }

  .u-section-1 .u-image-1 {
    height: 225px;
  }

  .u-section-1 .u-image-2 {
    height: 225px;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 311px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
  }
}