 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 53px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 16px auto;
} .u-section-2 {
  background-image: none;
  min-height: 273px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + -89px);
}

.u-section-2 .u-gallery-1 {
  height: 183px;
  width: 1140px;
  margin: 17px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-gallery-item-1 {
  --effect-scale: 1.1;
  margin-right: 0;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-1 {
  bottom: -7px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  --effect-scale: 1.1;
  margin-right: 0;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-2 {
  bottom: -7px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  --effect-scale: 1.1;
  margin-right: 0;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-3 {
  bottom: -7px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  --effect-scale: 1.1;
  margin-right: 0;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-4 {
  bottom: -7px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  --effect-scale: 1.1;
  margin-right: 0;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-5 {
  bottom: -7px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  --effect-scale: 1.1;
  margin-right: 0;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-6 {
  bottom: -7px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 35px;
  margin-bottom: 0;
  border-style: dashed;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 255px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -89px);
  }

  .u-section-2 .u-gallery-1 {
    height: 151px;
    width: 940px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 567px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -89px);
  }

  .u-section-2 .u-gallery-1 {
    height: 463px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 885px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -89px);
  }

  .u-section-2 .u-gallery-1 {
    height: 781px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2071px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -89px);
  }

  .u-section-2 .u-gallery-1 {
    height: 1967px;
    width: 340px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-3 {
  background-image: none;
  min-height: 241px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 6px auto 0 calc(((100% - 1140px) / 2) + -89px);
}

.u-section-3 .u-gallery-1 {
  height: 183px;
  width: 1151px;
  margin: 2px calc(((100% - 1140px) / 2) + -11px) 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto;
}

.u-section-3 .u-gallery-item-1 {
  --effect-scale: 1.1;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-1 {
  bottom: -7px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  --effect-scale: 1.1;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-2 {
  bottom: -7px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  --effect-scale: 1.1;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-3 {
  bottom: -7px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  --effect-scale: 1.1;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-4 {
  bottom: -7px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  --effect-scale: 1.1;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-5 {
  bottom: -7px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  --effect-scale: 1.1;
  margin-right: 10px;
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-6 {
  bottom: -7px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 12px;
  margin-bottom: 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    height: 157px;
    margin-top: 26px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 10px 10px;
    grid-template-columns: repeat(6, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
    height: 481px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
    height: 812px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
    height: 2045px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-4 {
  background-image: none;
  min-height: 4284px;
}

.u-section-4 .u-gallery-1 {
  height: 1850px;
  width: 1342px;
  margin: 19px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.u-section-4 .u-gallery-item-1 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-1 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-2 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-3 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-4 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-5 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-6 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-7 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-7 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-8 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-8 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-9 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-10 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-10 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-10 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-11 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-11 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-11 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-12 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-12 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-12 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-13 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-13 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-13 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-14 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-14 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-14 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-15 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-15 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-15 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-16 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-16 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-16 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-17 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-17 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-17 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-18 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-18 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-18 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-19 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-19 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-19 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-20 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-20 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-20 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-21 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-21 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-21 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-22 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-22 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-22 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-23 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-23 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-23 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-24 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-24 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-24 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-25 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-25 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-25 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-26 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-26 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-26 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-26 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-27 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-27 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-27 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-27 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-28 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-28 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-28 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-28 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-29 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-29 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-29 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-29 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-30 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-30 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-30 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-30 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-31 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-31 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-31 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-31 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-32 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-32 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-32 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-32 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-33 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-33 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-33 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-33 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-34 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-34 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-34 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-34 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-35 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-35 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-35 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-35 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-36 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-36 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-36 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-36 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-37 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-37 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-37 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-37 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-38 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-38 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-38 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-38 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-39 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-39 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-39 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-39 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-40 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-40 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-40 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-40 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-41 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-41 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-41 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-41 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-42 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-42 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-42 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-42 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-43 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-43 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-43 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-43 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-44 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-44 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-44 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-44 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-45 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-45 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-45 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-45 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-46 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-46 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-46 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-46 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-47 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-47 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-47 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-47 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-48 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-48 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-48 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-48 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-49 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-49 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-49 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-49 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-50 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-50 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-50 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-50 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-51 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-51 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-51 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-51 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-52 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-52 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-52 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-52 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-53 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-53 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-53 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-53 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-54 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-54 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-54 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-54 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-55 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-55 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-55 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-55 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-56 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-56 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-56 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-56 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-57 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-57 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-57 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-57 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-58 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-58 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-58 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-58 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-59 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-59 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-59 {
  bottom: -7px;
}

.u-section-4 .u-over-slide-59 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-60 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-60 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-60 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-60 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-61 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-61 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-61 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-61 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-62 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-62 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-62 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-62 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-63 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-63 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-63 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-63 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-64 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-64 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-64 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-64 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-65 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-65 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-65 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-65 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-66 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-66 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-66 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-66 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-67 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-67 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-67 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-67 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-68 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-68 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-68 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-68 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-69 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-69 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-69 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-69 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-70 {
  --effect-scale: 1.1;
}

.u-section-4 .u-back-slide-70 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-70 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-70 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 736px;
  margin-left: 0;
  width: 124px;
  margin-top: -1088px;
  margin-bottom: 0;
}

.u-section-4 .u-custom-html-2 {
  height: auto;
  min-height: 761px;
  margin-left: calc(((100% - 1140px) / 2) + 1140px);
  width: 124px;
  margin-top: -736px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-2 {
  height: 980px;
  width: 1342px;
  margin: 339px auto 0;
}

.u-section-4 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-4 .u-gallery-item-71 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-71 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-72 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-72 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-73 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-73 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-74 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-74 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-75 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-75 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-76 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-76 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-77 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-77 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-78 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-78 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-79 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-79 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-80 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-80 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-81 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-81 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-82 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-82 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-83 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-83 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-84 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-84 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-85 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-85 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-86 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-86 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-87 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-87 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-88 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-88 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-89 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-89 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-90 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-90 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-91 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-91 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-92 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-92 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-93 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-93 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-94 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-94 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-95 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-95 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-96 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-96 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-97 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-97 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-98 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-98 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-99 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-99 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-100 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-100 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-101 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-101 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-102 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-102 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-103 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-103 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-104 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-104 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-custom-html-3 {
  height: auto;
  min-height: 704px;
  margin-left: calc(((100% - 1140px) / 2) + 1140px);
  width: 124px;
  margin-top: 689px;
  margin-bottom: 0;
}

.u-section-4 .u-custom-html-4 {
  margin-top: -474px;
  margin-bottom: 0;
  height: auto;
  min-height: 487px;
}

.u-section-4 .u-line-1 {
  margin-top: 12px;
  margin-bottom: 2px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 3016px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1296px;
    width: 940px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(7, auto);
  }

  .u-section-4 .u-back-image-6 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-7 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-9 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-18 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-36 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-40 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-55 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-56 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-58 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-60 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-61 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-62 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-63 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-64 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-65 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-66 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-67 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-68 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-69 {
    bottom: -7px;
  }

  .u-section-4 .u-back-image-70 {
    bottom: -7px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -534px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: calc(((100% - 940px) / 2) + 816px);
  }

  .u-section-4 .u-gallery-2 {
    width: 940px;
    height: 686px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(7, auto);
  }

  .u-section-4 .u-custom-html-3 {
    margin-left: calc(((100% - 940px) / 2) + 816px);
    margin-top: -57px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 5849px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3127px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -2365px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: calc(((100% - 720px) / 2) + 596px);
  }

  .u-section-4 .u-gallery-2 {
    width: 720px;
    height: 1655px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-4 .u-custom-html-3 {
    margin-left: calc(((100% - 720px) / 2) + 596px);
    margin-top: -499px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 15470px;
  }

  .u-section-4 .u-gallery-1 {
    height: 9120px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -8358px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: calc(((100% - 540px) / 2) + 416px);
  }

  .u-section-4 .u-gallery-2 {
    width: 540px;
    height: 4689px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-custom-html-3 {
    margin-left: calc(((100% - 540px) / 2) + 416px);
    margin-top: -1645px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 37583px;
  }

  .u-section-4 .u-gallery-1 {
    height: 22969px;
    width: 340px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -22207px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: calc(((100% - 340px) / 2) + 216px);
  }

  .u-section-4 .u-gallery-2 {
    width: 340px;
    height: 11809px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: auto auto;
  }

  .u-section-4 .u-custom-html-3 {
    margin-left: calc(((100% - 340px) / 2) + 216px);
    margin-top: -4123px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 209px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 30px auto -10px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 50px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 15px auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 14px;
  }
}