.u-section-1 .u-sheet-1 {
  min-height: 283px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 24px auto 0 -58px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -36px -111px 0 auto;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -11px auto 0 428px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -68px auto 60px -93px;
  padding: 8px 20px 9px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 353px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 155px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 49px;
    margin-right: -20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -196px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 49px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 14px auto;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 85px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 25px;
  width: 124px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 13px auto;
} .u-section-4 {
  min-height: 287px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + -89px);
}

.u-section-4 .u-gallery-1 {
  height: 183px;
  width: 1140px;
  margin: 17px auto 52px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto auto auto;
}

.u-section-4 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-4 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-1 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  --effect-scale: 1.25;
}

.u-section-4 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-2 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  --effect-scale: 1.25;
}

.u-section-4 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-3 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-4 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-4 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  --effect-scale: 1.25;
}

.u-section-4 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-5 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  --effect-scale: 1.25;
}

.u-section-4 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-4 .u-back-image-6 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  position: absolute;
  top: 233px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 257px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -89px);
  }

  .u-section-4 .u-gallery-1 {
    height: 151px;
    width: 940px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }

  .u-section-4 .u-back-image-1 {
    height: auto;
  }

  .u-section-4 .u-back-image-2 {
    height: auto;
  }

  .u-section-4 .u-back-image-3 {
    height: auto;
  }

  .u-section-4 .u-back-image-4 {
    height: auto;
  }

  .u-section-4 .u-back-image-5 {
    height: auto;
  }

  .u-section-4 .u-back-image-6 {
    height: auto;
  }

  .u-section-4 .u-line-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 652px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -89px);
  }

  .u-section-4 .u-gallery-1 {
    height: 463px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1661px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -89px);
  }

  .u-section-4 .u-gallery-1 {
    height: 781px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2073px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -89px);
  }

  .u-section-4 .u-gallery-1 {
    height: 1967px;
    width: 340px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-5 {
  min-height: 241px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 6px auto 0 calc(((100% - 1140px) / 2) + -89px);
}

.u-section-5 .u-gallery-1 {
  height: 183px;
  width: 1140px;
  margin: 2px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto auto auto;
}

.u-section-5 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-5 .u-back-image-1 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-5 .u-back-image-2 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-5 .u-back-image-3 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-5 .u-back-image-4 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-5 .u-back-image-5 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-5 .u-back-image-6 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 12px;
  margin-bottom: 7px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 209px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -89px);
  }

  .u-section-5 .u-gallery-1 {
    height: 151px;
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }

  .u-section-5 .u-back-image-1 {
    height: auto;
  }

  .u-section-5 .u-back-image-2 {
    height: auto;
  }

  .u-section-5 .u-back-image-3 {
    height: auto;
  }

  .u-section-5 .u-back-image-4 {
    height: auto;
  }

  .u-section-5 .u-back-image-5 {
    height: auto;
  }

  .u-section-5 .u-back-image-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 723px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -89px);
  }

  .u-section-5 .u-gallery-1 {
    height: 463px;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2053px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -89px);
  }

  .u-section-5 .u-gallery-1 {
    height: 781px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1314px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -89px);
  }

  .u-section-5 .u-gallery-1 {
    height: 1967px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1494px;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-1 {
  height: 1497px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto auto auto;
}

.u-section-6 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-1 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-2 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-3 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-4 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-5 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-6 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-7 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-7 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-8 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-8 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-8 {
  height: calc(100% + 7px);
  bottom: -7px;
  object-position: 100% 50%;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-9 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-9 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-9 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-10 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-10 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-10 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-11 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-11 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-11 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-12 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-12 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-12 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-13 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-13 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-13 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-14 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-14 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-14 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-15 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-15 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-15 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-16 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-16 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-16 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-17 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-17 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-17 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-18 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-18 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-18 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-19 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-19 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-19 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-20 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-20 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-20 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-21 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-21 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-21 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-22 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-22 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-22 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-23 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-23 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-23 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-24 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-24 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-24 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-25 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-25 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-25 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-26 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-26 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-26 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-26 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-27 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-27 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-27 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-27 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-28 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-28 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-28 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-28 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-29 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-29 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-29 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-29 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-30 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-30 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-30 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-30 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-31 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-31 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-31 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-31 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-32 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-32 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-32 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-32 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-33 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-33 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-33 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-33 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-34 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-34 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-34 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-34 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-35 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-35 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-35 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-35 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-36 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-36 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-36 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-36 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-37 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-37 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-37 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-37 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-38 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-38 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-38 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-38 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-39 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-39 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-39 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-39 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-40 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-40 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-40 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-40 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-41 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-41 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-41 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-41 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-42 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-42 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-42 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-42 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-43 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-43 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-43 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-43 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-44 {
  --effect-scale: 0.75;
}

.u-section-6 .u-back-slide-44 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-44 {
  height: calc(100% + 7px);
  bottom: -7px;
}

.u-section-6 .u-over-slide-44 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-45 {
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-45 {
  transition-duration: 0.25s;
}

.u-section-6 .u-back-image-45 {
  height: calc(100% + 7px);
  bottom: -7px;
  object-position: 100% 50%;
}

.u-section-6 .u-over-slide-45 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1234px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }

  .u-section-6 .u-back-image-1 {
    height: auto;
  }

  .u-section-6 .u-back-image-2 {
    height: auto;
  }

  .u-section-6 .u-back-image-3 {
    height: auto;
  }

  .u-section-6 .u-back-image-4 {
    height: auto;
  }

  .u-section-6 .u-back-image-5 {
    height: auto;
  }

  .u-section-6 .u-back-image-6 {
    height: auto;
  }

  .u-section-6 .u-back-image-7 {
    height: auto;
  }

  .u-section-6 .u-back-image-8 {
    height: auto;
  }

  .u-section-6 .u-back-image-9 {
    height: auto;
  }

  .u-section-6 .u-back-image-10 {
    height: auto;
  }

  .u-section-6 .u-back-image-11 {
    height: auto;
  }

  .u-section-6 .u-back-image-12 {
    height: auto;
  }

  .u-section-6 .u-back-image-13 {
    height: auto;
  }

  .u-section-6 .u-back-image-14 {
    height: auto;
  }

  .u-section-6 .u-back-image-15 {
    height: auto;
  }

  .u-section-6 .u-back-image-16 {
    height: auto;
  }

  .u-section-6 .u-back-image-17 {
    height: auto;
  }

  .u-section-6 .u-back-image-18 {
    height: auto;
  }

  .u-section-6 .u-back-image-19 {
    height: auto;
  }

  .u-section-6 .u-back-image-20 {
    height: auto;
  }

  .u-section-6 .u-back-image-21 {
    height: auto;
  }

  .u-section-6 .u-back-image-22 {
    height: auto;
  }

  .u-section-6 .u-back-image-23 {
    height: auto;
  }

  .u-section-6 .u-back-image-24 {
    height: auto;
  }

  .u-section-6 .u-back-image-25 {
    height: auto;
  }

  .u-section-6 .u-back-image-26 {
    height: auto;
  }

  .u-section-6 .u-back-image-27 {
    height: auto;
  }

  .u-section-6 .u-back-image-28 {
    height: auto;
  }

  .u-section-6 .u-back-image-29 {
    height: auto;
  }

  .u-section-6 .u-back-image-30 {
    height: auto;
  }

  .u-section-6 .u-back-image-31 {
    height: auto;
  }

  .u-section-6 .u-back-image-32 {
    height: auto;
  }

  .u-section-6 .u-back-image-33 {
    height: auto;
  }

  .u-section-6 .u-back-image-34 {
    height: auto;
  }

  .u-section-6 .u-back-image-35 {
    height: auto;
  }

  .u-section-6 .u-back-image-36 {
    height: auto;
  }

  .u-section-6 .u-back-image-37 {
    height: auto;
  }

  .u-section-6 .u-back-image-38 {
    height: auto;
  }

  .u-section-6 .u-back-image-39 {
    height: auto;
  }

  .u-section-6 .u-back-image-40 {
    height: auto;
  }

  .u-section-6 .u-back-image-41 {
    height: auto;
  }

  .u-section-6 .u-back-image-42 {
    height: auto;
  }

  .u-section-6 .u-back-image-43 {
    height: auto;
  }

  .u-section-6 .u-back-image-44 {
    height: auto;
  }

  .u-section-6 .u-back-image-45 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3541px;
  }

  .u-section-6 .u-gallery-1 {
    height: 3544px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 6080px;
  }

  .u-section-6 .u-gallery-1 {
    height: 6113px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 14828px;
  }

  .u-section-6 .u-gallery-1 {
    height: 15061px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}