 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/dsdddd.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  width: 861px;
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 211px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 398px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  width: 589px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 3px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 58px auto 60px;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 513px;
    height: 317px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 90px;
  }

  .u-section-1 .u-image-1 {
    width: 468px;
    height: 254px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 160px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
  }
}