 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-text-1 {
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 624px;
  margin: 17px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}