.chat-wrap {
    position: relative;
    width: 60%;
    border: 2px solid #333;
    background: rgb(0 0 0 / 50%);
    border-radius: 5px;
    overflow: hidden;
}

.chat-wrap .message-sent {
    position: relative;
    width: 100%;
}

.chat-wrap .message-sent img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
}

.chat-wrap .message-sent input {
    width: 100%;
    padding: 10px 15px 10px 50px;
    background: #333333;
    font-size: 16px;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    outline: 0 !important;
    border-radius: 0px;
}

.chat-wrap input::placeholder {
    color: #fff;
    font-size: 14px;
}

.chat-box {
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.chat-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-box li {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.3;
    color: #fff;
    background: rgb(75 120 161 / 25%);
    border-bottom: 2px solid #333333;
}

.chat-box li:nth-child(odd) {
    background: rgb(75 120 161 / 5%);
}

.chat-box li b {
    color: yellow;
}

#invite .chat-wrap {
    margin-top: 30px;
}

#invite .chat-box {
    height: 190px;
}