.action-form {
    position: absolute;
    top: 110px;
    left: 3vw;
    height: calc(100% - 110px);
    width: calc(100% - 6vw);
    padding-right: 20px;
    overflow: auto;
    overflow-x: hidden !important;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.action-form-half {
    width: 62%;
}

.action-form hr {
    width: 100%;
    border: none;
    border-bottom: solid 2px #181818;
    /* float: left; */
    margin-bottom: 30px;
    display: block;
    margin-left: 0px;
}

.field-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 30px;
    background: rgb(28 28 28 / 70%);
    border-radius: 3px;
    box-sizing: border-box;
    /* background: #ddd; */
    /* border-bottom: solid 5px #383838; */
}

.message-head-wrapper .field {
    margin: 0;
}

.field.button {
    display: inline-block;
}

.zero-space {
    margin: 0;
    padding: 0;
}

.field-wrap .field:last-child {
    margin-right: 0;
}

.field-wrap button {
    min-width: fit-content;
}

.field-info {
    position: relative;
    width: 100%;
    padding: 15px 15px 15px 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff;
    margin-bottom: 1vw;
    box-sizing: border-box;
}

.field-info a {
    color: #fff;
    font-weight: bold;
}

.field-info.half {
    width: 50%;
    padding: 10px 30px;
}

.field-info:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 16px;
    width: 15px;
    height: 15px;
    background: url('../images/icons/Info-Icon.png') no-repeat;
    background-size: 100%;
}

.field-info.half:after {
    top: 10px
}

.field-info h2 {
    font-size: 20px;
    margin: 0;
}

.field-info p {
    font-size: 14px;
    margin: 0;
}

.field input,
.field select {
    width: 100%;
    box-shadow: inset 0px 2px 7px #a895bb;
    border: solid 1px #9985ae;
    border-radius: 5px;
    font-size: 19px;
    padding: 10px;
    /* margin-right: 10px; */
    box-sizing: border-box;
    outline: 0 !important;
}

.field.with-input-text input {
    padding-left: 140px;
    margin: 0 !important;
}

.field .with-text-wrapper {
    position: relative;
    margin-top: 10px;
}

.field.with-input-text span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #4c4c4c;
}

.field select,
.field input[type="text"],
.field input[type="password"] {
    margin-top: 10px;
}

.field input[type="range"] {
    box-shadow: none !important
}

input[type="range"] {
    outline: 0;
    border: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    /* margin: 24px 0 16px; */
    transition: box-shadow 0.2s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="range"] {
        overflow: hidden;
        height: 20px;
        padding: 5px 0;
        -webkit-appearance: none;
        background-color: #ddd;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        height: 20px;
        -webkit-appearance: none;
        color: #000; // margin-top: -1px;
        transition: box-shadow 0.2s ease-in-out;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 20px;
        -webkit-appearance: none;
        height: 20px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -100.5vw 0 0 100vw #7e35c9, inset 0 0 0 5px #7e35c9;
        border-radius: 50%;
        transition: box-shadow 0.2s ease-in-out;
        position: relative; // top: 0px;
    }
    input[type="range"]:active::-webkit-slider-thumb {
        background: #fff;
        box-shadow: -100.5vw 0 0 100vw #ff9502, inset 0 0 0 5px #ff9502;
    }
}

// Firefox
input[type="range"]::-moz-range-progress {
    background-color: #7e35c9;
}

input[type="range"]::-moz-range-track {
    background-color: #ddd;
}

// IE
input[type="range"]::-ms-fill-lower {
    background-color: #7e35c9;
}

input[type="range"]::-ms-fill-upper {
    background-color: #ddd;
}

.field input[type="checkbox"] {
    float: left;
    box-shadow: none;
    width: 30px;
    height: 30px;
    top: 0px;
    margin-right: 12px;
    margin-left: 1px;
}

.field input[type="file"] {
    float: right;
    box-shadow: none;
    width: 200px;
    margin-left: 10px;
}

.field label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.field.with-alt label {
    display: flex;
    flex-direction: column;
}

.field label span {
    font-size: 14px;
    color: #909090;
}

.field label small {
    float: right;
    margin: 0px;
    background: #303030;
    padding: 10px 15px;
    margin-top: -14px;
    font-size: 14px;
}

.btn {
    padding: 13px 17px;
    text-align: center;
    float: right;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Roboto Condensed';
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.field small {
    color: #fff;
    width: 25%;
    margin-top: 10px;
}

.field h4 small {
    margin-left: 10px;
}

.field small a {
    text-decoration: underline;
    color: #fff;
}

.field-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.field-checkbox.with-border {
    border: 1px solid #5a5a5a;
}

.field.field-checkbox label {
    margin-left: 10px;
    cursor: pointer;
}

.field-toggle-wrapper .toggle {
    opacity: 0;
    position: absolute;
}

.field-toggle-wrapper label {
    position: relative;
    display: inline-block;
    user-select: none;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-tap-highlight-color: transparent;
    height: 30px;
    width: 50px;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
}

.field-toggle-wrapper input.toggle+label:before {
    content: "";
    position: absolute;
    display: block;
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    height: 30px;
    width: 51px;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.field-toggle-wrapper input.toggle+label:after {
    content: "";
    position: absolute;
    display: block;
    box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 0px 0 hsl(0deg 0% 0% / 4%), 0 4px 9px hsl(0deg 0% 0% / 13%), 0 3px 3px hsl(0deg 0% 0% / 5%);
    -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    background: #f6f6f6;
    height: 28px;
    width: 28px;
    top: 1px;
    left: 0px;
    border-radius: 60px;
}

.field-toggle-wrapper input.toggle:checked+label:before {
    background: #7e35c9;
    -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}

.field-toggle-wrapper input.toggle:checked+label:after {
    left: 22px;
}

.field-upload {
    height: 180px;
}

.field-upload img {
    width: 100px;
    height: 100px;
    border: solid 2px #666;
    background: #404040;
}

.field-thumbnail {
    width: 180px;
}

.field-selection {
    width: 100%;
    padding-bottom: 30vh;
}

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.input-field p {
    color: #fff;
    margin: 0;
}

.input-field input,
.input-field select {
    background: transparent;
    border: 2px solid #dedede;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    outline: 0;
}

.input-field select {
    border: 2px solid #dedede;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    outline: 0;
}

.input-field button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #339b44;
    padding: 10px;
    color: #fff;
    border: 2px solid #dedede;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    cursor: pointer;
}

.input-field button i {
    margin-right: 5px;
}

.input-field button.full-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid #dedede;
}

.input-field button img {
    width: 10px;
    margin-left: 5px;
}

.field-btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.field .field-btn-wrap select,
.field .field-btn-wrap input[type="text"] {
    max-width: 90%;
    margin-top: 0;
}

.field .field-btn-wrap .btn {
    width: 10%;
    padding: 10px 15px;
}

.group-input {
    width: 100%;
    height: 67px;
}

.group-input input {
    width: 90%;
    float: left;
    height: 48px;
    margin: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.group-input .side-button {
    float: right;
    background: #0f64bd;
    border-left: solid 5px #17487c !important;
    color: #fff;
    width: calc(10% - 0px);
    border: none;
    height: 48px;
    font-size: 21px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    cursor: pointer;
}

.group-input .side-button:hover {
    opacity: 0.7;
}

.input-slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}

.input-slider-text {
    min-width: 27px;
    padding: 7px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #7e35c9;
    border-radius: 10px;
    margin-right: 5px;
}

/* Mobile Devices */

@media only screen and (max-width : 900px) {
    .action-form-half {
        width: calc(100% - 20vw);
        height: calc(100% - 110px);
    }
}

.field-content {
    width: 70%;
    float: left;
}

.field-sidebar {
    width: calc(30% - 30px);
    float: right;
}

.field-sidebar h4 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 12px;
}