.loadout-container {
    width: 38%;
    position: absolute;
    left: 80px;
    top: 100px;
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
}

.loadout-container.loadout-section-detail {
    width: 200px;
    left: 55px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.loadout {
    position: relative;
    background: #fff;
    padding: 10px;
    width: calc(50% - 40px);
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 12px;
    height: 15vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    border: 3px solid transparent;
    transition: transform 0.1s ease-out;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.loadout-container.loadout-section-detail .loadout {
    width: initial;
    min-height: 130px;
    margin: 0 0 12px 0;
}

.loadout.locked::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/icons/Lock-Icon.png') no-repeat;
    background-size: 100% 100%;
    filter: brightness(0);
    z-index: 1;
}

.loadout-full {
    width: calc(100% - 40px);
}

.loadout:hover {
    transform: scale(1.01);
    border-color: rgb(255 155 4);
    opacity: 1 !important;
}

.loadout b {
    display: block;
    font-size: 20px;
}

#loadout-thumbnail {
    position: absolute;
    right: 40px;
    bottom: 0px;
    transition: ease all 0.4s;
    height: calc(100vh - 100px);
}

#loadout-thumbnail.active {
    left: calc(50% - 10vw);
    transform: translateX(-50%);
    width: calc(100vh - 200px);
    max-width: 700px;
}

#loadout-thumbnail .loadout-thumbnail-head {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.loadout-thumbnail-head #rarities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    position: initial;
    right: initial;
    top: initial;
    background: initial;
    width: initial;
    font-size: 16px;
}

#loadout-thumbnail .loadout-thumbnail-head h1 {
    width: 100%;
    font-size: 40px;
    margin: 0;
    text-align: center;
    text-shadow: 0px 0px 10px #181818;
}

#loadout-thumbnail .loadout-thumbnail-head h2 {
    font-size: 25px;
    margin: 0;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
}

#loadout-thumbnail img {
    width: 100%;
}

#loadout-thumbnail>img {
    /* margin-bottom: 105px; */
    padding: 0 4vw;
    box-sizing: border-box;
    top: 50%;
    transform: translate(0%, -50%);
}

.loadout-selection .loadout {
    /* opacity: 0.5; */
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.loadout-selection .loadout-active {
    /* opacity: 1 !important; */
    background-color: rgba(255, 255, 255, 1) !important;
}

#loadout-detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: calc(100% - 110px);
    bottom: 0;
    color: #fff;
    right: 55px;
    overflow-y: auto;
    overflow-x: hidden;
}

#loadout-detail ul li.column-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    background: transparent;
    padding: 0;
}

#loadout-detail .item-title {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

#loadout-detail .item-detail ul {
    padding: 0;
    list-style-type: none;
}

.item-detail .detail-box-wrap li {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
    padding: 20px;
    box-sizing: border-box;
}

.item-detail .detail-box-wrap .ability-box {
    justify-content: flex-start;
}

.item-detail .ability {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: skew(-8deg);
    height: 45px;
    padding: 0 3px !important;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.item-detail .ability li {
    height: 38px;
    background-image: linear-gradient(0deg, #13375b 44%, #184571 56%);
    border-radius: 5px;
    margin-right: 3px;
    transition: ease all 0.4s;
}

.item-detail .ability li:last-child {
    margin-right: 0;
}

.item-detail .ability li.active {
    background-image: linear-gradient(0deg, #205c97 44%, #2873bd 56%);
}

.item-detail ul li p {
    margin: 0;
}

.item-detail ul li img {
    width: 100px;
    min-width: 100px;
    padding-right: 30px;
}

.detail-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-box-column {
    display: flex;
    flex-direction: column;
}

.column-list .detail-box-column {
    width: 100%;
    padding: 60px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 4px;
}

.column-list .column-info-text {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #2e2e2e;
    box-sizing: border-box;
}

.column-list .column-info-text p {
    padding-left: 25px;
}

.column-list .column-info-text p:after {
    content: "i";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    font-size: 12px;
    color: #000;
    background: #fff;
    text-align: center;
}

.column-list .detail-box-column:last-child {
    margin-right: 0;
}

.column-list .detail-wrapper {
    position: relative;
    margin-bottom: 25px;
}

.column-list .detail-wrapper.with-star {
    padding: 0 120px 0 0;
}

.column-list .detail-wrapper .detail-wrap-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.column-list .detail-wrapper .detail-wrap-title p {
    text-transform: uppercase;
    cursor: pointer;
}

.column-list .detail-wrapper .detail-wrap-title img {
    position: absolute;
    right: 0;
    top: -5px;
    width: 50px;
    min-width: 50px;
    padding: 0;
    margin-top: -15px;
}

.detail-box ul {
    margin-left: 25px;
}

.detail-box ul.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-box .stats li {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: skew(-8deg);
    height: 45px;
    font-size: 21px;
    font-weight: 600;
    background: #4c8234;
    border: 1px solid #699d53;
    margin: 0;
    margin-right: 3px;
    padding: 0;
    transition: ease all 0.4s;
}

.detail-box ul.stats li {
    width: 20px;
}

.detail-box ul li.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background: #00a300;
    transform: skew(-8deg);
    padding: 0 18px;
    font-size: 28px;
    font-weight: 600;
}

.detail-box ul li.green {
    background: #4c8234;
}

.detail-box ul li.active.green {
    background: #00a300;
}

.detail-box ul li.orange {
    background: #906238;
    border: 1px solid #906238;
}

.detail-box ul li.active.orange {
    background: #e57f23;
}

.detail-box ul li.dark_orange {
    background: #c07852;
    border: 1px solid #c17852;
}

.detail-box ul li.active.dark_orange {
    background: #d35a19;
}

.detail-box ul li.red {
    background: #c23d3d;
    border: 1px solid #c23d3d;
}

.detail-box ul li.active.red {
    background: #d12325;
}

.detail-box-column .title {
    font-size: 23px;
    font-weight: 600;
}

.detail-box-column p {
    font-size: 18px;
}

.skill-details {
    display: flex;
    flex-direction: row;
}

.ability {
    background: #000;
}

.ability-box ul {
    padding: 0
}

.star {
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: safe flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}

.star:last-child {
    margin-bottom: 0;
}

.star img {
    width: initial !important;
    min-width: initial !important;
    padding: 0 !important;
    margin-bottom: 10px;
}

.star .bar {
    position: relative;
    width: 100%;
    height: 2px;
    background: #76726e;
    border-radius: 5px;
    overflow: hidden;
}

.star .bar span,
.star .bar span.prev-bar {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    transition: ease width 0.8s;
    z-index: 2;
}

.star .bar span.prev-bar {
    background: #76726e;
    z-index: 1;
    transition: 0s;
}

.star .bar span.prev-bar.red {
    background: #ff0000;
    z-index: 2;
}

.star .bar span.prev-bar.green {
    background: #13dc13;
    z-index: 2;
}

#equipment {
    position: absolute;
    width: 100%;
    /*width: 400px;*/
    height: 100px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255 155 4 / 90%);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#equipment-slider {
    position: relative;
    /*width: initial;*/
    width: 10000px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    padding: 0 35px;
    transition: all 0.1s ease-out;
}

#equipment li {
    position: relative;
    display: inline-block;
    width: auto;
    height: initial;
    background: #858585;
    border-radius: 50%;
    list-style: none;
    border: solid 3px #666;
    cursor: pointer;
    transform: scale(0.8);
    overflow: hidden;
    box-sizing: border-box;
}

#equipment li.active {
    box-shadow: 0px 0px 10px #fff;
    border: solid 3px #fff;
    transform: scale(0.9);
}

#equipment li img {
    width: 90px;
    position: relative;
}

#equipment-left-button,
#equipment-right-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15px;
    height: 100%;
    top: 0;
    cursor: pointer;
    color: #000;
    background: #fff;
    padding: 0px 10px;
    text-align: center;
}

#equipment-left-button {
    left: 0px;
}

#equipment-right-button {
    right: 0px;
}

.equipment-side-button {
    opacity: 0.5;
}

.equipment-side-button:hover {
    opacity: 1;
}

.customize-button {
    position: absolute;
    bottom: 20px;
    /*border: solid 2px #fff;*/
    background: #4f237c;
    padding: 10px 20px;
    border-radius: 8px;
    width: 170px;
    z-index: 10;
    cursor: pointer;
    left: calc(50% - 100px);
    color: #fff;
    font-size: 21px;
    font-family: 'Roboto Condensed';
}

.customize-button:hover {
    opacity: 0.8;
}

.quick-sell {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px 10px;
    background: #ff8d00;
    color: #fff;
    border-top-left-radius: 5px;
    background: rgb(255, 130, 13);
    background: linear-gradient(0deg, rgba(255, 130, 13, 1) 0%, rgba(255, 209, 0, 1) 100%);
    text-shadow: 0px 1px 2px #b34607;
    text-transform: uppercase;
}

/* Desktop Devices */

@media only screen and (max-width : 1300px) {
    #loadout-thumbnail.active {
        max-width: 450px;
    }
}

/* Tablet Devices */

@media only screen and (max-width : 1200px) {
    .loadout-container {
        width: 40%;
        left: 30px;
        height: calc(100% - 80px);
    }
    .loadout-container.loadout-section-detail {
        width: 155px;
        left: 30px;
    }
    .loadout-container.loadout-section-detail .loadout {
        min-height: 110px;
    }
    #loadout-detail {
        right: 30px;
        bottom: initial;
        top: 75px;
        height: calc(100% - 80px);
    }
    #loadout-thumbnail.active {
        left: 40%;
        right: initial;
    }
    #loadout-detail .item-title {
        font-size: 30px;
    }
    .column-list .detail-box-column {
        padding: 10px;
    }
    .detail-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .detail-box p {
        font-size: 21px;
    }
    .detail-box ul li.text {
        padding: 0 13px;
        font-size: 23px;
    }
    .item-detail .detail-box-wrap li:not(.ability-box) {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .detail-box .stats li {
        padding: 5px !important;
        width: 18px !important;
        height: 35px;
    }
    .item-detail ul li img {
        min-width: 80px;
    }
}

/* Mobile Devices */

@media only screen and (max-width : 900px) {
    .loadout-container {
        width: 40%;
        position: absolute;
        left: 20px;
        top: 75px;
    }
    #loadout-thumbnail {
        width: 35vw;
        right: 20px;
    }
    #loadout-thumbnail.active {
        max-width: 310px;
        left: 42.5%;
    }
    #loadout-thumbnail img {
        width: 100%;
        height: initial;
    }
    #loadout-thumbnail>img {
        margin-bottom: 9vw;
        padding: 0 7vw;
        box-sizing: border-box;
    }
    #loadout-detail .item-title {
        font-size: 24px;
    }
    .loadout-thumbnail-head {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 35px;
        z-index: 1;
    }
    #loadout-thumbnail .loadout-thumbnail-head h1 {
        font-size: 25px;
    }
    #loadout-thumbnail .loadout-thumbnail-head h2 {
        font-size: 15px;
    }
    .detail-box-column .title {
        font-size: 18px;
    }
    .item-detail ul li p,
    .detail-box-column p {
        font-size: 14px;
    }
    .item-detail ul li img {
        min-width: 55px;
    }
    .item-detail .ability {
        height: 30px;
    }
    .item-detail .ability li {
        height: 25px;
    }
    #equipment {
        width: 100%;
        top: initial;
        bottom: 20px;
        border-radius: 10px;
        height: 70px;
    }
    #equipment-slider {
        position: relative;
        width: initial;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        left: 0 !important;
        padding: 0 35px;
    }
    #equipment li {
        float: initial;
        display: inline-block;
        width: auto;
        height: initial;
    }
    #equipment li img {
        width: 60px;
        position: relative;
        left: initial;
        top: initial;
        transform: initial;
    }
    .customize-button {
        width: 150px;
        font-size: 18px;
        padding: 8px 10px;
    }
}