@import "profile.css";
@import "table.css";
@import "form.css";
@import "loadout.css";
@import "clan.css";
@import "chat.css";
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #3d3d3d url('../images/Blur-Background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed';
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

div,
span,
html,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#full-screen-loading {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #272727;
    z-index: 5000;
    background-size: cover;
    background-position: center center;
}

#loading-bar {
    position: absolute;
    left: 20px;
    bottom: 40px;
    width: calc(100% - 40px);
    height: 10px;
    border: solid 2px #000;
    background-color: #666;
    border-radius: 3px;
    overflow: hidden;
}

#loading-bar .loading-bar-fill {
    width: 0%;
    height: 10px;
    background-color: rgb(255, 191, 0);
    animation: loading-bar-fill 15s linear;
    animation-fill-mode: forwards;
}

#tips {
    padding: 10px 20px;
    font-size: 1.2vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 20px;
    bottom: 80px;
    color: #fff;
    border-radius: 3px;
}

@keyframes loading-bar-fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#full-screen-loading .loader {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}

#half-screen-loading {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#half-screen-loading .loader {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}

.loader-container {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translate(-25%, -50%);
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#application-canvas.fill-mode-NONE {
    margin: auto;
}

#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}

#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 1vw;
}

.rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #f80e0e, #82c4fa, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

/* Track */

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.info {
    width: fit-content;
    padding: 10px;
    border: 1px solid #dedede;
    background: rgb(255 201 2 / 76%);
    color: #fff;
    text-shadow: 2px 2px 2px #00000054;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info p {
    margin: 0;
}

.info p i {
    margin-right: 5px;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#logo {
    position: absolute;
    left: 45px;
    top: 30px;
    z-index: 100;
}

#logo img {
    width: 200px;
}

.pull-right {
    float: right;
}

.loader {
    border: 10px solid #e9e9e9;
    border-radius: 50%;
    border-top: 10px solid #ffbb17;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-center {
    margin-left: auto;
    margin-right: auto;
}

#play-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    bottom: 35px;
    background: url('../images/Play-Button.png') no-repeat;
    width: 380px;
    height: 110px;
    background-size: 100% 100%;
    text-shadow: 0px 4px 1px #bb6104;
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-right: 30px;
    cursor: pointer;
    z-index: 1000;
}

#play-button:hover {
    opacity: 0.8;
}

#invite-button {
    height: 112px;
    position: absolute;
    bottom: 37px;
    right: 437px;
    cursor: pointer;
    z-index: 10;
}

#invite-button:hover {
    opacity: 0.8;
}

#invite-button img {
    height: 100%;
}

#main-banner {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: #666;
    width: 728px;
    height: 90px;
    transform-origin: left bottom;
    transform: scale(0.8);
}

#menu {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 70px;
    /* height: 53vh; */
}

#menu.extended {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 200px;
    width: fit-content;
}

.menu-button {
    /* background: url('../images/Menu-Button.png') no-repeat; */
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    float: right;
    background: rgba(0, 0, 0.8);
    border-radius: 13px;
    border: solid 2px #fff;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

/*Extended*/

.profile-extend-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-extend-holder.flex-end {
    justify-content: flex-end;
}

.column-extender {
    display: flex;
    flex-direction: column;
}

.column-extender .menu-button:last-child {
    margin-bottom: 0;
}

.extended .menu-button.account {
    width: auto;
    min-width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    box-sizing: border-box;
    /* border-radius: 7px; */
    background: rgba(0, 0, 0, 0.5);
}

.extended .menu-button.account .user-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-size: 16px;
}

.extended .menu-button.account .user-detail .username {
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.extended .menu-button.account .verified {
    float: left;
    height: 20px;
    width: 20px;
}

.extended .profile-experience {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.extended .profile-exp-wrapper p {
    font-size: 13px;
    margin: 0 0 0 10px;
}

.extended .profile-experience-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 12px;
    background: #535353;
    border-radius: 12px;
    overflow: hidden;
}

.extended .profile-experience-bar span {
    background: #ff9502;
    width: 0;
    height: 100%;
}

.extended .profile-experience .profile-level {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    text-align: center;
    text-shadow: 0px 1px 2px #5c3b0e;
}

.extended .menu-button.account img {
    position: relative;
    width: 32px;
    height: 32px;
    left: initial;
    top: initial;
    transform: initial;
    margin-right: 5px;
}

.extended .menu-button.quest-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 10px;
}

.extended .menu-button.quest-menu img {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
}

.extended .menu-button.quest-menu p {
    margin: 0;
}

.menu-button.social-hub img {}

.menu-button:hover {
    background: #7e35c9;
}

.menu-button.account:hover {
    border-color: #ff9502;
}

.menu-button img {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 28px;
    top: 20px;
}

.menu-button i {
    font-size: 28px;
}

.menu-button:hover::after {
    background-color: #7e35c9 !important;
}

.menu-button:hover::before {
    border-left-color: #7e35c9 !important;
}

.menu-button img {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

.background-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hardwareError {
    /*padding: 0!important;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px!important;
    overflow: hidden;*/
    position: absolute;
    width: 640px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    box-shadow: 0px 0px 10px #000;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 98;
}

.hardwareError h4 {
    display: flex;
    align-items: center;
    background: #9729fe;
    width: 100%;
    color: #fff;
    font-size: 20px;
    position: relative;
    font-family: 'Roboto', Arial;
    padding: 15px 20px;
    box-sizing: border-box;
    text-shadow: 0px 1px 2px #6915b9;
    letter-spacing: 0px;
    margin: 0;
}

.hardwareError .hardware-error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 25px;
    font-size: 19px;
}

.hardwareError .hardware-error-content p {
    width: 100%;
    margin: 15px 0;
    text-align: left;
}

.hardwareError .close-hardware-popup {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: #9729fe;
    border-radius: 10px;
    margin-top: 20px;
    transition: ease all 0.4s;
}

.hardwareError .close-hardware-popup:hover {
    border: 1px solid #9729fe;
    color: #9729fe;
    background: #fff;
}

.popup {
    position: absolute;
    /*max-height: calc(100vh - 100vh * 0.4);*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
    /*overflow-x: hidden;
	overflow-y: auto;*/
    overflow: hidden;
    box-sizing: border-box;
}

.matchmaking-popup {
    width: 400px;
    height: 190px;
    background: #ffffff;
}

.popup-title {
    display: flex;
    align-items: center;
    background: #9729fe;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: relative;
    font-family: 'Roboto', Arial;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    text-shadow: 0px 1px 2px #6915b9;
    letter-spacing: 0px;
}

.popup-title img {
    width: 30px;
    margin-right: 10px;
}

.matchmaking-players {
    /* line-height: 100px; */
    font-size: 18px;
    color: #282828;
    text-align: center;
    /* font-weight: bold; */
    position: relative;
    padding-top: 25px;
    text-align: center;
}

.matchmaking-players .text {
    margin-top: 15px;
}

.player-boxes {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 210px;
    margin-top: -10px;
}

.player-boxes li {
    width: 15px;
    height: 15px;
    background: #999;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    list-style: none;
    border-radius: 50px;
}

.player-boxes li.active {
    background: lime;
    box-shadow: 0px 0px 10px #7eff08;
}

.popup-close {
    cursor: pointer;
    float: right;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0px;
    background: #6914b9 url(../images/Close-Icon.png) no-repeat center center;
    background-size: 50% auto;
}

.matchmaking-loader {
    left: 20px;
}

.matchmaking-bottom {
    background: #fff;
    width: 100%;
    height: 5px;
    bottom: 0px;
    position: absolute;
}

.animated-gradient {
    background: repeating-linear-gradient(to right, gray 0%, yellow 0%, gray 100%);
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 1s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.80);
}

.fullscreen-alpha {
    background: rgba(0, 0, 0, 0);
}

.fullscreen-home {
    background: url('../images/Menu-Background.png') repeat-y left top;
    background-size: 100% auto;
}

.fullscreen h3 {
    color: #fff;
    position: absolute;
    left: 0px;
    top: 20px;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    background: rgb(82 82 82 / 50%);
    width: 100%;
    line-height: 60px;
    height: 60px;
    text-transform: uppercase;
}

.back-button-wrap {
    position: relative;
    float: left;
    width: 100%;
    max-width: 60px;
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
    background: rgb(72 71 71 / 80%);
    overflow: hidden;
    transition: ease max-width 0.5s;
}

.back-button {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 25px;
    margin-top: 0px;
    margin-left: 0px;
    background: rgb(66 66 66 / 70%);
    padding: 11px;
    cursor: pointer;
}

.back-button-wrap:hover,
.back-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.back-button-wrap:hover {
    max-width: 160px;
}

.back-button-wrap .back-button {
    float: right;
    margin-right: 0;
    padding-left: 10px;
    background: initial;
    z-index: 1;
}

.back-button-wrap p {
    position: absolute;
    left: -100%;
    transform: translateX(-50%);
    font-size: 18px;
    padding: 0 25px;
    opacity: 0;
    margin: 0;
    pointer-events: none;
    transition-delay: 0.2s;
    transition: ease opacity 0.4s;
}

.back-button-wrap:hover p {
    opacity: 1;
    transform: translateX(calc(-50% + 30px));
    left: calc(50% - 50px);
    pointer-events: initial;
}

.btn-primary {
    background: green;
    border-bottom: solid 5px #0c560c !important;
    color: #fff;
}

.btn-secondary {
    background: #0f64bd;
    border-bottom: solid 5px #17487c !important;
    color: #fff;
}

.btn-cancel {
    background: #a11c1c;
    border-bottom: solid 5px #520909 !important;
    color: #fff;
}

.btn-switch {
    text-decoration: none;
    color: #fff;
    background: rgb(36 36 36);
    font-size: 1.5vw;
    border-bottom: solid 5px #8a2929 !important;
}

.btn-switch.active {
    border-bottom: solid 5px #0c560c !important;
}

.btn-cancel.mini-style {
    font-size: 16px;
}

.btn-primary,
.btn-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-primary img,
.btn-secondary img {
    width: 15px;
    margin-left: 10px;
}

.btn-right {
    margin-left: auto;
    margin-right: auto;
    margin-right: 20px;
    display: block;
}

.btn-cancel img {
    width: 15px;
}

.echo-side {
    background: rgba(0, 0, 0, 0.9) url('../images/heroes/Echo.png') no-repeat right bottom;
    background-size: auto 80%;
}

.fullscreen-darker {
    background: rgb(25, 25, 25);
}

.alert {
    background: red;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 50%;
}

.alert img {
    float: left;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.tabs {
    height: 80px;
}

.tabs li {
    float: left;
    /* color: #fff; */
    font-size: 25px;
    list-style: none;
    margin-right: 30px;
    color: #ccc;
    cursor: pointer;
}

.tabs li.active {
    color: #fff;
    font-weight: bold;
    border-bottom: solid 4px #fff;
    padding-bottom: 10px;
}

.vertical-tabs-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical-tabs {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 3vw 0;
}

.vertical-tabs li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 60px;
    font-size: 25px;
    color: #ccc;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.vertical-tabs li.active {
    background: #ff9502;
    color: #fff;
}

.vertical-tabs li.active:after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 15px;
    border-color: transparent transparent transparent #ff9502;
}

.vertical-tabs li:last-child {
    border-bottom: 0;
}

.vertical-tabs-content {
    width: 80%;
}

.vertical-tabs-content h2 {
    color: #fff;
    font-size: 20px;
}

.thumbnail-column {
    width: 90px;
}

.small-description {
    display: block;
    font-size: 11px;
    margin-top: 10px;
}

#server-settings {
    position: absolute;
    width: max-content;
    bottom: 167px;
    right: 32px;
    color: #9f9f9f;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
    border-radius: 25px;
}

#server-settings span {
    margin-left: 17px;
    float: left;
    cursor: pointer;
}

#server-settings span b {
    color: #fff;
}

#server-settings span:hover b {
    color: #ffa500;
}

#server-settings span img {
    width: 18px;
    height: 18px;
    margin-top: 1px;
    float: right;
    margin-left: 5px;
}

.no-cursor {
    cursor: default !important;
}

.no-cursor a {
    color: #fff;
    text-decoration: none;
}

#character {
    background: rgb(116 159 255);
    padding: 1vw 2vw;
    font-size: 1.8vw;
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 16vh;
    height: fit-content;
    /* text-transform: uppercase; */
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 25px; */
    padding-left: 6vw;
    cursor: pointer;
    border-right: solid 0.5vw #2371ed;
    text-shadow: 0px 1px 3px #2470ed;
    font-weight: bold;
    width: 6.5vw;
    opacity: 0.8;
}

#character.character-small {
    bottom: 12vh;
    font-size: 3vw;
    width: 12vw;
}

#character img {
    height: 82vh;
    margin-left: 1vw;
}

#character.character-small img {
    margin-left: 2vw;
}

#character small {
    display: block;
}

#character:hover {
    opacity: 1;
}

#character img {
    height: 2vw;
    float: right;
    /* margin-top: 0px; */
    /* margin-left: 12px; */
    /* margin-right: -8px; */
}

.game-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 15vh;
}

.game-links .links-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.game-links .links-wrap a {
    margin-right: 8px;
    color: #fff;
    text-decoration: none;
}

.game-links a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #000;
    z-index: 1;
}

.discord {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    background: rgb(73, 100, 233);
    background: linear-gradient(180deg, rgba(73, 100, 233, 1) 0%, rgba(55, 76, 178, 1) 69%);
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: ease all 0.2s;
    box-sizing: border-box;
}

.discord.border-design {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.discord img {
    position: absolute;
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 5px;
}

.social-hub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    background: rgb(173 4 255 / 70%);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 25px;
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: ease all 0.2s;
    margin-bottom: 10px;
}

.social-hub img {
    width: 18px;
    float: right;
    margin-top: -3px;
    margin-left: 13px;
    margin-right: -8px;
}

.twitter,
.poki {
    position: relative;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: ease all 0.2s;
}

.twitter {
    background: #1EA2F1;
}

.poki {
    background: #fff;
}

.twitter img,
.poki img {
    position: absolute;
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

#home-play {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 398px;
}

.map-selection {
    height: 150px;
    margin-top: 15px;
}

.map-selection li {
    width: 23vw;
    height: 128px;
    overflow: hidden;
    position: relative;
    border: solid 3px #000;
    list-style: none;
    cursor: pointer;
    float: left;
    margin-right: 1vw;
    margin-bottom: 2vw;
    border-radius: 10px;
    opacity: 1;
}

.map-selection li .active-check {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffffff;
    font-size: 24px;
    display: none;
}

.map-selection li.active .active-check {
    display: block;
}

.map-selection .online {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #5bae29;
    z-index: 1;
    color: #fff;
    padding: 2px 10px;
    border-radius: 14px;
}

.map-selection li:hover {
    border: solid 3px #ddd;
}

.map-selection li.active {
    border: solid 3px #bdbdbd !important;
    box-shadow: 0px 0px 10px #fff;
    opacity: 1;
}

.map-selection li b {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 30px;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.map-selection li img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.invite-players {
    color: #fff;
}

#mini-alert {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 20px;
    z-index: 100;
}

#mini-alert .alert-container {
    background: red;
    color: #fff;
    padding: 10px 20px;
    left: 50%;
    transform: translate(-50%, 0px);
    display: inline-block;
    position: absolute;
    font-size: 30px;
}

#mini-alert .alert-container.success {
    background: #339b44;
}

#twitch {
    position: absolute;
    right: 130px;
    top: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    padding: 6px 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    z-index: 1;
}

#twitch.extended {
    right: initial;
    left: 40px;
    top: 96px;
}

.record {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: 3px;
}

.character-select {
    position: absolute;
    left: 10px;
    bottom: 20px;
}

#offers {
    position: absolute;
    left: 36px;
    top: 100px;
    width: calc(100% - 122px);
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.offer-item {
    width: 20vw;
    height: 20vw;
    float: left;
    background: #fff;
    margin-top: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 10px;
    list-style: none;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.1s ease-out;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
}

.buy-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    /* background: #fff; */
    padding: 10px 25px;
    background: rgb(255, 130, 13);
    background: linear-gradient(0deg, rgba(255, 130, 13, 1) 0%, rgba(255, 209, 0, 1) 100%);
    text-shadow: 0px 1px 3px #d36100;
    color: #fff;
    font-size: 23px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.offer-item:hover {
    transform: scale(1.1);
}

.offer-item .thumbnail {
    width: 100%;
    margin-top: 38px;
}

.offer-item .thumbnail-container {
    width: 90%;
    bottom: 34px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    position: absolute;
    overflow: hidden;
    height: 20vw;
}

.offer-item .title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 7px 14px;
    font-size: 17px;
    width: 100%;
    /* text-transform: uppercase; */
    font-family: "Roboto", sans-serif;
    /* font-weight: bold; */
    text-shadow: 0px 1px 2px #000;
}

.offer-item .price {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 10px;
    background: #9729fe;
    color: #fff;
    /* text-shadow: 0px 1px 2px #a95e02; */
    border-bottom-left-radius: 9px;
}

.offer-item .rarity {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    padding: 9px;
    font-size: 11px;
}

.offer-header {
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    float: left;
    font-size: 27px;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#item-content {
    /* position: absolute; */
    top: 3px;
    width: 43vw;
    height: 74px;
    background: #ffffff;
}

#item-content li {}

#item-content li img {}

#item-content li h5 {}

#item-content li .rarity {}

#item-content-slider {
    width: 1024px;
    animation: slider-showroom 20s linear;
    position: absolute;
}

@keyframes slider-showroom {
    from {
        left: 0px;
    }
    to {
        left: -1024px;
    }
}

.crate-loadout {
    top: 89px;
    overflow-y: scroll !important;
}

.offer-category {
    float: left;
    margin-bottom: 40px;
}

h3 .balance {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(255 255 255 / 20%);
    padding: 0px 27px;
    font-size: 12px;
    line-height: 20px;
    height: 50px;
    padding-top: 10px;
}

h3 .balance b {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

h3 .balance img {
    width: 18px;
    margin-left: 5px;
}

.popup-inspect {
    width: 560px;
    min-height: 375px;
    background: #fff;
    z-index: 3;
    padding-bottom: 15px;
}

.popup-full-image {
    width: 560px;
    /* min-height: 375px; */
    background: #fff;
    z-index: 3;
    padding: 0px !important;
}

.popup-buy-vg {
    width: 560px;
    float: left;
    background: #fff;
    z-index: 3;
}

.popup-content {
    margin-top: 20px;
    text-align: center;
}

.popup-content .centered-title {
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    height: 35px;
}

.popup-thumbnail {
    float: left;
    width: 250px;
    height: 250px;
    background: #ddd;
    border-radius: 8px;
    margin-left: 20px;
}

.popup-information {
    float: left;
    margin-left: 20px;
    width: calc(100% - 310px);
}

.popup-information h4 {}

.popup-field {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 19px;
    color: #787878;
    font-family: "Roboto", Arial, sans-serif;
    text-align: left;
}

.popup-field span {
    width: 75px;
    float: left;
    font-size: 15px;
}

.popup-field b {
    color: #000;
}

.popup-buy-button {
    background-color: #4f237c;
    border: none;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0px 0.05vw 0.2vw rgb(0 0 0 / 40%);
    padding: 10px 20px;
    font-size: 0.8vw;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: transform 0.1s ease-out;
}

.popup-buy-button img {
    height: 20px;
    float: left;
    margin-right: 10px;
}

.popup-buy-button:hover {
    transform: scale(1.05);
}

.popup .rarity {
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 13px;
}

#rarities {
    /* margin-top: -16px; */
}

#rarities .rarity {
    float: right;
    list-style: none;
    margin-right: 10px;
}

.Common {
    color: #bfbfbf;
    ;
}

#rarities .Common,
#item-list .Common,
#active-item .Common,
.square.Common {
    background: #bfbfbf;
    color: #000;
}

.Uncommon {
    color: #e8ff75;
    ;
}

#rarities .Uncommon,
#item-list .Uncommon,
#active-item .Uncommon,
.square.Uncommon {
    background: #e8ff75;
    color: #000;
}

.Rare {
    color: #d53b3b;
    ;
}

.Legendary {
    color: #4e91e1;
}

.Mythical {
    color: #e273ff;
}

#rarities .Rare,
#item-list .Rare,
#active-item .Rare,
.square.Rare {
    background: #d53b3b;
    color: #fff;
}

#rarities .Legendary,
#item-list .Legendary,
#active-item .Legendary,
.square.Legendary {
    background: #4e91e1;
    color: #fff;
}

#rarities .Mythical,
#item-list .Mythical,
#active-item .Mythical,
.square.Mythical {
    background: #e273ff;
    color: #fff;
}

.popup-account-balance {
    position: absolute;
    right: 20px;
    bottom: 79px;
    color: #666;
}

.popup-account-balance-timer {
    left: 20px;
    bottom: 30px;
    text-align: left;
}

#unlock-slider {
    border: solid 5px #ccc;
    padding: 20px;
    margin: 22px;
    border-radius: 5px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

#unlock-slider li {
    width: 100px;
    height: 100px;
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

#unlock-slider li img {
    width: 80%;
    height: 80%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#unlock-slider li .name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 2px 12px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#unlock-slider li.active {
    animation: unlocked-active 0.15s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
}

@keyframes unlocked-active {
    0% {}
    100% {
        transform: scale(1.25);
        z-index: 10000;
        box-shadow: 0px 0px 30px #ffe000;
        border: solid 2px #fff;
        margin-left: 8px;
    }
}

#unlock-slider-content {
    position: absolute;
    width: 3800px;
}

.unlocking {
    animation: unlocking-animation 4.5s cubic-bezier(0, 0.3, 0.41, 0.99);
    animation-fill-mode: forwards;
}

@keyframes unlocking-animation {
    0% {
        left: 0px;
    }
    100% {
        left: -2568px;
    }
}

#unlocking-caret {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0px;
    width: 48px;
    height: 40px;
    z-index: 100;
}

.unlock-button {
    padding: 10px 20px;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    bottom: 20px;
}

.unlock-button small {
    /* display: block; */
    float: left;
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
}

#lootbox-icon {
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 190px;
    margin-top: -25px;
    cursor: pointer;
    text-align: center;
}

.popup-bottom-content {
    background: #363636;
    padding: 10px;
}

.popup-bottom-content button {
    font-size: 16px;
    padding: 5px 10px;
}

/* Quests */

.popup-quest {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 370px;
    min-height: initial;
    padding: 0;
}

.popup-quest .popup-content {
    margin: 0;
}

.popup-quest ul {
    list-style: none;
    padding: 0 10px;
    text-align: left;
    box-sizing: border-box;
}

.popup-quest ul li {
    display: flex;
    flex-direction: row;
    color: #fff;
    border-radius: 5px;
    background: rgb(40, 40, 40);
    background: linear-gradient(180deg, rgba(40, 40, 40, 1) 0%, rgba(53, 53, 53, 1) 75%);
    padding: 10px;
    margin-bottom: 10px;
}

.popup-quest ul li .quest-img {
    width: 50px;
    margin-right: 10px;
}

.quest-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quest-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quest-info p {
    margin: 0;
}

.quest-rewards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quest-rewards .reward {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.quest-rewards .reward:last-child {
    margin-right: 0;
}

.quest-rewards .reward img {
    width: 25px;
    margin-right: 5px;
}

.quest-rewards .reward p {
    font-size: 15px;
    margin: 0;
}

.quest-rewards .reward:last-child p {
    color: #FFCA00;
}

.quest-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
}

.quest-progress p {
    margin: 0;
    color: #a7a3a3;
}

.quest-experience-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 12px;
    background: #222222;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}

.quest-experience-bar span {
    background: #719700;
    width: 0;
    height: 100%;
    transition: ease all 0.3s;
}

.quest-claim {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border: 0;
    background: #4C9800;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.quest-claimed {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    font-size: 12px;
}

.quest-claimed p {
    margin: 0;
    color: #fff;
}

.quest-claim img,
.quest-claimed img {
    width: 13px;
    margin-right: 3px;
}

.portrait-control {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #333 url('../images/Portrait-Control-White.png') no-repeat;
    background-size: 90%;
    background-position: center;
    z-index: 99;
}

.portrait-control .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #9f38ff;
    padding: 0 20px;
    box-sizing: border-box;
}

.portrait-control p {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    color: #fff;
}

.portrait-control .logo-wrap img {
    width: 200px;
}

[class*=hint--]:after {
    border-radius: 5px;
}

[class*=hint--]:after {
    background-color: #7e35c9 !important;
}

[class*=hint--right]:before {
    border-right-color: #7e35c9 !important;
}

[class*=hint--left]:before {
    border-left-color: #7e35c9 !important;
}

.reward-timer {
    /* float: right; */
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    color: #666;
}

.reward-bar {
    width: 190px;
    height: 5px;
    background: #ddd;
    margin-top: 10px;
}

.reward-bar-fill {
    height: 5px;
    background: orange;
}

h3 .btn {
    /* height: 55px; */
    border: none;
    width: 200px;
    text-align: center;
    padding: 0px 10px;
    font-size: 19px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    text-decoration: none;
    line-height: 55px;
    border-radius: 0px;
}

.search-bar {
    width: 39vw;
    margin-bottom: 30px;
}

.search-bar input {
    padding: 1vw;
    width: 30vw;
    height: 3vw;
    outline: none;
    /* border-top-left-radius: 0px; */
    /* border-bottom-left-radius: 8px; */
    border: none;
    border-bottom: solid 3px #949494;
    font-size: 1.3vw;
}

.search-bar button {
    width: 9vw;
    font-size: 1.2vw;
    height: 3vw;
    background: #0a5fc7;
    border: none;
    float: right;
    color: #fff;
    /* border-top-right-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    cursor: pointer;
    border-bottom: solid 3px #1152a1;
    text-shadow: 0px 1px 2px #184172;
    font-weight: bold;
}

.title-description {
    font-size: 14px;
    line-height: 14px;
    width: 200px;
    margin-right: 20px;
    padding-top: 16px;
}

.buy-vg-header {
    float: right;
    padding: 0px 30px;
    font-size: 22px;
    background: rgb(255, 130, 13);
    background: linear-gradient(0deg, rgba(255, 130, 13, 1) 0%, rgba(255, 209, 0, 1) 100%);
    text-shadow: 0px 1px 3px #273d7c;
    cursor: pointer;
}

.buy-vg-header:hover {
    opacity: 0.9;
}

.buy-vg-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buy-vg-pack {
    list-style: none;
    width: calc(33% - 36px);
    height: 150px;
    position: relative;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #b9b9b9;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 0.05s ease-out;
}

.buy-vg-pack:hover {
    transform: scale(1.1);
}

.buy-vg-pack img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.buy-vg-pack b {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    font-size: 16px;
}

.buy-vg-pack span {
    position: absolute;
    /* width: 100%; */
    padding: 4px 5px;
    color: #000;
    right: 0px;
    top: 0px;
    background: rgb(255 255 255 / 80%);
    font-size: 12px;
    border-bottom-left-radius: 7px;
    display: none;
}

.creator-code-form {
    padding: 20px;
    margin-top: -20px;
    float: left;
    width: calc(100% - 40px);
}

.creator-code-form input {
    padding: 16px;
    box-sizing: border-box;
    border: solid 1px #ddd;
    box-shadow: inset 0px 2px 5px #ddd;
    font-size: 18px;
    height: 49px;
}

.creator-code-form .btn {}

.skip-button {
    padding: 10px 30px !important;
    margin-top: 30px;
    width: 150px;
}

.grecaptcha-badge {
    visibility: hidden;
}

#twitch:hover {
    box-shadow: 0px 0px 8px red;
    transition: box-shadow 0.25s ease-in-out;
}

.block-button-link {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    background: #9729fe;
    color: #fff;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
}

#free-skins {
    position: absolute;
    right: 110px;
    top: 30px;
    z-index: 100;
    border-radius: 10px;
    overflow: hidden;
    border: solid 3px #fff;
    cursor: pointer;
}

#free-skins img {
    width: 18vw;
    margin: 0px;
    padding: 0px;
    display: block;
}

#free-skins .buy-button {
    right: 2.7vw;
    bottom: 10px;
    box-shadow: 0px 0px 30px #fff;
    font-size: 1.5vw;
}

.claim-background {
    background: url('../images/Claim-Banner.jpg') center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 315px;
    margin: 0px;
    margin-bottom: 0px !important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#free-skin-levels {
    color: #fff;
    padding: 0px;
    text-align: left;
    margin-left: -5px;
    padding-bottom: 10px;
}

#free-skin-levels li {
    float: left;
    width: 50px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 20px;
    list-style: none;
    line-height: 20px;
    padding-top: 5px;
    /* margin-right: 20px; */
    border: solid 4px #ffffff;
    text-align: center;
    color: #000;
    opacity: 0.5;
}

#free-skin-levels .active {
    opacity: 1 !important;
}

.free-t1 {
    text-shadow: 0px 1px 0px #000000;
    background: rgb(255, 130, 13);
    background: linear-gradient(0deg, rgb(227 28 0) 0%, rgb(255 81 0) 100%);
    color: #fff !important;
}

.free-t2 {
    text-shadow: 0px 1px 0px rgb(18, 46, 255);
    background: rgb(18, 46, 255);
    background: linear-gradient(0deg, rgba(18, 46, 255, 1) 0%, rgba(18, 146, 255, 1) 100%);
    color: #fff !important;
}

.free-t3 {
    text-shadow: 0px 1px 0px rgb(106 48 141);
    background: rgb(172, 84, 225);
    background: linear-gradient(0deg, rgba(172, 84, 225, 1) 0%, rgba(172, 84, 255, 1) 100%);
    color: #fff !important;
}

#free-skin-levels .free-t1 {
    transform: scale(0.8);
}

#free-skin-levels .free-t2 {
    transform: scale(0.9);
}

#free-skin-levels li b {
    display: block;
    text-align: center;
    font-size: 14px;
}

#free-skin-levels h4 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px #000;
}

.fa-caret-right {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13px;
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
}

#shop-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0 !important;
    right: 90px;
    height: 155px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 274px;
    border: solid 2px #fff;
    border-radius: 13px;
    padding: 13px 0;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
}

#shop-banner .small-corner-button {
    display: none;
}

#shop-banner h1 {
    text-shadow: 0px 1px 6px #000000;
    width: 90%;
    /* text-align: right; */
    float: left;
    /* margin-left: -84px; */
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.3vw;
    bottom: 0px;
    position: absolute;
}

.extended #shop-banner {
    margin-top: 85px;
}

.free-skins-guest {
    top: 30px !important;
}

.timer-background {
    text-shadow: 0px 1px 0px rgb(18, 46, 255);
    background: rgb(18, 46, 255);
    background: linear-gradient(0deg, rgba(18, 46, 255, 1) 0%, rgba(18, 146, 255, 1) 100%);
    color: #fff !important;
    opacity: 0.0;
}

.unlock-popup-button {
    border-radius: 58px;
    /* background: #f7c024; */
    padding: 5px 20px;
    font-size: 23px;
    background: rgb(255, 130, 13);
    background: linear-gradient(0deg, rgba(255, 130, 13, 1) 0%, rgba(255, 209, 0, 1) 100%);
    box-shadow: 0px 0px 20px #000;
    font-weight: bold;
    text-shadow: 0px 2px 0px #765f1c !important;
    cursor: pointer;
    color: #fff;
}

.campaing-transparent-bg {
    background: rgba(0, 0, 0, 0) !important;
}

#free-skin h3 {
    text-align: center;
    position: relative;
}

#free-skin h4 {
    margin: 0px;
    bottom: 22px !important;
}

.empty-contents {
    display: contents;
}

#free-skin .bottom-text {
    bottom: -20px;
    font-size: 30px;
    /* position: absolute; */
    /* bottom: 0px; */
}

#home-banner,
#result-banner,
#pause-banner {
    width: 728px;
    height: 90px;
    position: absolute;
    left: 1.5vw;
    bottom: 1.5vw;
    background: rgba(0, 0, 0, 0.4);
    transform-origin: left bottom;
    border: solid 3px #000;
}

.version-code a {
    color: #666;
    font-weight: bold;
}

.white-info-text {
    color: #fff;
    margin-bottom: 20px;
    background: rgb(36 36 36 / 90%);
    padding: 10px;
}

.fa-margin-right {
    margin-right: 10px;
}

.mini-character-thumbnail {
    float: left !important;
    height: 5.5vw !important;
    left: -14px;
    /* margin-left: -14px !important; */
    /* margin-right: 16px !important; */
    position: absolute;
    top: 3px;
}

.popup-option {
    float: left;
    width: calc(50% - 1px);
    font-size: 30px;
    line-height: 80px;
    padding-top: 30px;
    margin-top: 0px;
    font-weight: bold;
    background: rgb(222, 222, 222);
    background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(245, 245, 245, 1) 100%);
    cursor: pointer;
    text-shadow: 0px 1px 1px #fff;
    text-transform: uppercase;
    color: #2f2f2f;
    height: 181px;
}

.popup-option:hover {
    background: #ddd;
}

.popup-disabled {
    opacity: 0.5;
}

.popup-option:last-child {
    border-left: solid 1px #ddd;
}

.popup-option .fa {
    display: block;
    font-size: 50px;
    color: #9729fe;
}

.popup-option small {
    font-size: 15px;
    line-height: 15px;
    display: block;
    text-transform: initial;
    font-weight: normal;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.popup-option-content {
    min-height: 125px;
    height: 306px;
}

#alert-message.popup-inspect {
    /* height: 140px; */
    min-height: 92px;
}

#alert-message p {
    font-size: 24px;
    padding: 10px 20px;
}

.btn-side-start {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-side-end {
    margin-left: -10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: solid 5px #17487c;
    background: #1e78d8;
    color: #fff;
}

.half-option {
    width: 50% !important;
}

#transition {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #151515;
    z-index: 1000;
    animation: fadeOut 0.5s ease-out;
    animation-fill-mode: forwards;
}

#transition.active {
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.keyboard-key {
    display: inline-block;
    min-width: 20px;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #555;
    border: 1px solid #000;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 2px 3px 0 #c0c0c0, 0 8px 17px rgb(68 68 68 / 40%), 2px 1px 4px rgb(68 68 68 / 25%), -2px 1px 4px rgb(68 68 68 / 25%), 0 9px 16px rgb(68 68 68 / 10%);
    cursor: pointer;
}

#tooltip {
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    width: 23vw;
}

.players-list {
    list-style: none;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.players-list li {
    padding: 0px;
    margin: 0px;
    padding: 10px 15px;
    background: #303030;
    border-radius: 2px;
    border-left: solid 4px #3ab137;
}

.field-content .chat-wrap {
    width: 100%;
}

.chat-area {
    display: block;
    flex: none;
    height: 300px;
}

.notification-badge {
    padding: 3px 5px;
    background-color: red;
    color: #fff;
    font-size: 18px;
    float: right;
    margin-left: 15px;
    margin-top: 1px;
    border-radius: 4px;
    min-width: 43px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.notification-badge i {
    font-size: 14px;
    display: inline-block;
}

#message-inbox {}

#message-inbox .message {
    margin-top: 20px;
    color: #fff;
    width: 100%;
    display: block;
}

#message-inbox .message:last-child {
    margin-bottom: 20px;
}

#message-inbox .message .username {
    padding: 10px 21px;
    margin-right: 10px;
    float: left;
    background: #353535;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 5px;
    margin: 0px;
    margin-right: 10px;
}

#message-send-to .suggestions {
    width: 200px;
    overflow: hidden;
}

#message-send-to .suggestions span {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background: #0a5fc7;
    border-radius: 2px;
    margin-left: 5px;
    width: auto;
}

#message-inbox .message .content {
    float: left;
    background-color: #0a5fc7;
    padding: 10px 15px;
    border-radius: 5px;
    width: 400px;
    box-sizing: border-box;
}

.message-head-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center
}

#message-send-to {
    min-width: fit-content;
}

#message-send-to span {
    color: #fff;
    padding: 10px;
    width: 100px;
}

#message-send-to input {
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: solid 1px #575757;
    border-radius: 6px;
}

#message-send-to input.selected {
    width: 150px;
    background: rgb(10 95 199);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

#message-box {
    width: 90%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: solid 1px #575757;
    border-radius: 6px;
}

#message-inbox {
    height: calc(90vh - 250px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

.tab-content-scroll {
    width: calc(100% - 21.5vw);
    height: calc(90vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';

$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';
*/