/* 2K 4K Devices */

@media only screen and (min-width: 1950px) {
    .reforge-content {
        width: 20vw;
        height: 20vw;
        top: 7%;
    }
}

/* Laptop Devices */

@media only screen and (max-width: 1550px) {
    .reforge-inventory #inventory-scroll {
        width: 100%;
    }
    #tab-content.tab-content-scroll {
        overflow-x: auto;
    }
    table td:last-child,
    table th:last-child {
        min-width: 180px
    }
}

/* Tablet Devices */

@media only screen and (max-width : 1200px) {
    .profile-extend-holder {
        justify-content: flex-end;
    }
    .reforge .item-wrapper .item {
        width: 60px;
        height: 60px;
    }
}

/* Mobile Devices */

@media only screen and (max-width: 1090px) {
    /* Tabs */
    .tab-scroll {
        height: 75vh;
    }
    .tabs li {
        font-size: 23px;
    }
    .vertical-tabs li,
    #tab-sidebar li,
    .tab-sidebar li {
        font-size: 21px;
        padding: 0 8px;
    }
    .field-wrap {
        flex-wrap: wrap;
    }
    .field-checkbox {
        margin-right: 0;
    }
    #tab-sidebar li.new:before,
    .tab-sidebar li.new::before {
        right: initial;
        top: 10%;
        left: -10px;
        font-size: 12px;
        padding: 5px;
    }
    .shop-content .tab-title-wrap {
        flex-wrap: wrap;
    }
    .shop-content h4 {
        margin-bottom: 10px
    }
    .reforge .item-wrapper .item {
        width: 45px;
        height: 45px;
    }
    .reforge .item-wrapper .info {
        width: 15px;
        height: 15px;
    }
    .filter-form {
        margin-left: 10px;
    }
}

@media only screen and (max-width : 900px) {
    /* Head */
    #logo {
        left: 25px;
        top: 15px;
    }
    #twitch {
        top: 15px;
    }
    #twitch.extended {
        left: 15px;
        top: 80px;
    }
    #menu {
        top: 15px;
        width: 60px;
    }
    .menu-button {
        width: 60px;
        height: 60px;
    }
    .menu-button img {
        width: 30px;
        height: 30px;
    }
    #free-skin {
        right: 75px;
    }
    .extended #free-skin {
        width: calc(100% - 75px);
        max-height: 60px;
        right: 0
    }
    .extended #free-skin-levels {
        display: none;
    }
    .unlock-popup-button {
        border-radius: 0;
        width: 97%;
        box-shadow: initial;
        background: transparent;
        border: 0;
        padding: 0;
        text-align: center;
    }
    /* Left Side */
    .left-links a {
        bottom: 20px;
    }
    #character {
        display: none;
    }
    #character h4 {
        /* bottom: -46px; */
        /* margin: 0px; */
        /* position: fixed; */
    }
    #character img {
        float: right;
    }
    .profile-extend-holder {
        position: relative;
    }
    #shop-banner {
        min-width: 30vw;
        top: calc(100% - 155%) !important;
        margin: 0 !important;
        right: 80px;
        height: 100%;
    }
    .extended #shop-banner {
        top: initial !important;
        left: 0;
    }
    #shop-banner h1 {
        display: block;
        position: absolute;
        right: 2vw;
        bottom: 2vw;
        font-size: 20px;
        margin: 0;
    }
    #shop-banner .small-corner-button {
        display: none;
        position: absolute;
        right: 1vw;
        bottom: 1vw;
        font-size: 5vw;
        text-shadow: 0px 1px 3px #000;
    }
    #item-list {
        overflow-y: scroll;
        height: 60vh;
        padding-top: 2vw;
    }
    /* Content */
    .fullscreen h3 {
        top: 0;
        font-size: 23px;
        line-height: 50px;
        height: 50px;
        z-index: 1;
    }
    .back-button {
        width: 30px;
        height: 28px;
    }
    h3 .btn {
        line-height: 45px;
    }
    .action-form {
        top: 90px;
        left: 35px;
        width: calc(100% - 70px);
        height: calc(100% - 120px);
    }
    .tabs {
        height: 65px;
    }
    .tabs li {
        font-size: 20px;
    }
    #tab-sidebar li,
    .tab-sidebar li,
    .vertical-tabs li {
        font-size: 18px;
        height: 45px;
        padding: 0 10px;
        line-height: 1;
        margin-bottom: 5px;
    }
    #tab-sidebar li.active:after,
    .tab-sidebar li.active:after,
    .vertical-tabs li.active:after {
        border-width: 23px 0 22px 2vw;
        right: -2vw;
    }
    .icon-container {
        margin-right: 10px;
    }
    .username a {
        font-size: 25px;
    }
    .stat-card {
        width: 80px;
    }
    .field label,
    .field input,
    .field select,
    .field .btn {
        font-size: 16px;
    }
    .btn-primary,
    .btn-secondary {
        justify-content: center;
        min-width: 110px;
        padding: 15px 20px;
    }
    .buy-button {
        font-size: 14px;
        padding: 8px 15px;
        right: 10px;
    }
    .offer-item .price {
        font-size: 14px;
    }
    table tr th,
    table a {
        font-size: 14px;
    }
    table td:last-child,
    table th:last-child {
        width: 145px;
    }
    table td {
        font-size: 16px;
    }
    table a.leaderboard-items {
        font-size: 15px;
    }
    .input-slider-text {
        font-size: 16px;
    }
    /* Clan */
    .clan-info {
        font-size: 22px;
    }
    .clan-bank-wrapper {
        flex-direction: column-reverse;
    }
    .top-donator {
        align-items: flex-start;
    }
    /* Shop */
    .filter-form select {
        font-size: 13px;
        width: 85px;
    }
    .filter-form select:last-child {
        margin: 0;
    }
    .shop-content .tab-title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .shop-item .type {
        font-size: 13px;
        ;
    }
    .shop-main-content .shop-item {
        width: calc(50% - 3vw);
    }
    .shop-item {
        width: calc(50% - 3vw);
        height: 35vh;
    }
    .shop-item .title {
        word-wrap: break-word;
        font-size: 13px !important;
    }
    .shop-item .price .price-value {
        font-size: 13px;
    }
    .shop-item .price .original-price {
        font-size: 10px;
    }
    /* Reforge */
    .icon-container img {
        width: 22px;
    }
    .reforge-inventory #inventory-scroll {
        width: 100%;
    }
    .reforge-inventory .item-details button.btn-primary {
        min-width: initial;
        width: 60px;
        margin: 0 5px 0 0;
    }
    .reforge .item-wrapper .item {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .reforge .item-wrapper .item:before {
        width: 30px;
        height: 30px;
        font-size: 17px;
    }
    .reforge-content {
        width: 250px;
        height: 250px;
    }
    .shop-unlock {
        font-size: 1.75vw;
    }
    .rune-wrapper {
        --radius: 17vmin;
    }
    .reforge .shop-unlock {
        bottom: 30px;
    }
    /* Table */
    .item-details td {
        font-size: 13px;
    }
    .table-rarity {
        width: 11vw;
        font-size: 12px;
    }
    table .btn {
        min-width: initial;
        width: 55px;
        margin: 0 0 5px 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    table .btn:hover {
        transform: initial;
    }
    /* Bottom */
    #server-settings {
        bottom: 120px;
        right: 20px;
    }
    #invite-button {
        bottom: 15px;
        right: 325px;
        height: 90px;
        display: none;
    }
    #play-button {
        bottom: 15px;
        width: 280px;
        height: 90px;
        font-size: 35px;
    }
    /* Popup */
    .hardwareError {
        transform: translate(-50%, -50%) scale(1);
    }
    h3 .balance {
        line-height: 15px;
        height: 40px;
    }
    #shop-content li {
        width: calc(45% - 1vw);
    }
    .shop-unlock {
        transform: scale(1.5);
    }
    .shop-unlock:hover {
        transform: scale(1.8);
    }
}

/* Mobile Devices */

@media only screen and (max-width : 700px) {
    #menu {
        top: 10px;
        width: 50px;
    }
    .menu-button {
        width: 50px;
        height: 55px;
    }
    .menu-button img {
        width: 25px;
        height: 25px;
    }
    #play-button {
        bottom: 20px;
        width: 235px;
        height: 75px;
    }
    #invite-button {
        bottom: 20px;
        right: 285px;
        height: 77px;
    }
    #server-settings {
        bottom: 110px;
        right: 20px;
    }
    .buy-button {
        font-size: 14px;
        padding: 5px 10px;
        right: 10px;
        bottom: 25px;
    }
    /*Profile*/
    .profile-exp-wrapper {
        flex-direction: column;
    }
    .profile-exp-wrapper p {
        margin: 10px 0 0 0;
    }
    .hardwareError {
        width: 85%;
        transform: translate(-50%, -50%) scale(0.85);
    }
    #shop-banner {
        right: 70px;
    }
}

@media (min-device-width: 10px) and (max-device-width: 550px) and (orientation: portrait) {
    .portrait-control {
        display: block;
    }
}