@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    body {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}