.reforge-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 80vh;
    width: calc(100% - 2.5vw);
    box-sizing: border-box;
}

.reforge-inventory {
    width: 45%;
    height: 100%;
    overflow-y: scroll;
    zoom: 0.95;
}

.reforge-inventory #inventory-scroll {
    height: 75vh;
}

.reforge-inventory .item-details tr {
    cursor: initial;
}

.reforge-inventory .item-details button.btn-primary {
    margin: 0 20px 0 0;
}

.reforge-inventory .item-details button.btn-cancel {
    margin: 0 20px 0 0;
}

.reforge {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.reforge .shop-unlock {
    position: absolute;
    bottom: 0;
    padding: 10px 3vw;
}

.reforge .item-wrapper {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    border-top: 1px solid #8FFFCF;
    padding-top: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.reforge .item-wrapper:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: double;
    border-width: 0 30px 15px 30px;
    border-color: transparent transparent #8FFFCF transparent;
}

.reforge .item-wrapper .info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    left: 10px;
    top: -70px;
    border-radius: 100%;
    font-size: 15px;
    color: #ffffff;
    background: #668678;
    border: 1px solid #dedede;
    text-align: center;
    cursor: pointer;
}

.reforge .item-wrapper [class*=hint--]:after {
    background-color: #557567 !important;
}

.reforge .item-wrapper .hint--top-left:before,
.reforge .item-wrapper .hint--top-right:before,
.reforge .item-wrapper .hint--top:before {
    border-top-color: #557567 !important;
}

.reforge .item-wrapper .item {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #668678;
    padding: 4px;
    margin-right: 25px;
}

.reforge .item-wrapper .item:last-child {
    margin-right: 0;
}

.reforge .item-wrapper .item::before {
    content: "\f0e3";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #668678;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #668678;
    border-radius: 5px;
    box-sizing: border-box;
}

.reforge .item-wrapper .item.active {
    border: 1px solid #C0FFE4;
    box-shadow: 0 0 20px 5px #C0FFE4;
    animation: glow 2s infinite;
    cursor: pointer;
    background: #88fdcb;
}

.reforge .item-wrapper .item.active::after {
    content: "\f00d";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    right: -8px;
    top: -8px;
    border-radius: 100%;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
    text-align: center;
}

.reforge .item-wrapper .item.active::before {
    content: none;
}

.reforge .item-wrapper .item img {
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(1px 4px 6px #8fffcf);
}

.reforge-content {
    border-radius: 100%;
    position: absolute;
    width: 320px;
    height: 320px;
    border: 1px solid #8effcf;
}

.reforge-content-fill-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.reforge-content-fill-wrap::after {
    content: "";
    position: absolute;
    animation: spin 4s linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 60px #37604e, inset -20px 0 60px #8FFFCF, inset 20px 0 300px #37604e, inset -20px 0 300px #8FFFCF, 0 0 50px #fff, -10px 0 60px #37604e, 10px 0 60px #8FFFCF;
}

.reforge-content-fill-wrap .reforge-fill-mask {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 100%;
    z-index: 1;
}

.lock-reforge {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #668678;
    overflow: hidden;
}

.lock-reforge::after,
.lock-reforge::before {
    content: "";
    position: absolute;
    top: 0;
    width: 49%;
    height: 100%;
    background: #557567;
    transition: ease all 2s;
}

.lock-reforge.active::after {
    right: -100%
}

.lock-reforge.active::before {
    left: -100%
}

.lock-reforge .frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #000;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.lock-reforge .frame i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
}

.lock-reforge::after {
    right: 0;
}

.lock-reforge::before {
    left: 0;
}

.rune-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: -1;
    --radius: 15vmin;
    transition: ease all 3s;
}

.rune-wrapper.active {
    --radius: 10vmin;
}

.rune-wrapper li {
    position: absolute;
    display: grid;
    place-items: center;
    width: 25px;
    border: initial;
    filter: brightness(0) invert(1) drop-shadow(1px 4px 6px #8fffcf);
    background-size: initial;
    cursor: initial;
    opacity: 0.6;
    --total: 11;
    --d: calc(var(--i) / var(--total));
    --r-offset: -0.25turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
    --transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));
    transform: var(--transform);
    user-select: none;
    pointer-events: none;
    transition: ease all 2s;
}

.rune-wrapper.active li {
    --r-offset: 2turn;
    opacity: 0;
}

.rune-wrapper li:hover {
    transform: initial;
}

.rune-wrapper li img {
    width: 100%;
}

.reforge-item {
    border-radius: 100%;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

/* Animation Glow */

@keyframes glow {
    0%,
    100% {
        box-shadow: 0 0 5px 2px #8FFFCF;
    }
    50% {
        box-shadow: 0 0 15px 4px #8FFFCF;
    }
}

/* rotates shine */

@keyframes shine {
    0% {
        opacity: 0;
    }
    34% {
        opacity: 0;
        transform: rotate(15deg);
    }
    40% {
        opacity: 0.6;
        transform: rotate(620deg);
    }
    48%,
    100% {
        opacity: 0;
        transform: rotate(635deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}