#character-mvp {
    width: 40vw;
    position: absolute;
    left: 5vw;
    top: 3vw;
}

#match-result {
    width: 60vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    position: absolute;
}

#match-header {
    color: #fff;
    text-transform: uppercase;
    margin-top: 3vw;
    margin-bottom: 2vw;
    height: 5vw;
}

#match-header .map-name {
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    font-family: 'Roboto Condensed';
    /* border-left: solid 0.4vw #424242; */
    padding-left: 4.4vw;
    font-weight: bold;
}

#match-header .map-name span {
    color: #595959;
}

#match-header .result {
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Roboto';
    letter-spacing: -0.1vw;
    color: #ff2424;
    text-shadow: 0px 0px 1vw red;
}

#match-header .result.victory {
    color: #ffbb19;
    text-shadow: 0px 0px 1vw #c49423;
}

#match-table {
    position: absolute;
}

#match-table li {
    background: rgb(35, 35, 35);
    background: linear-gradient(336deg, rgba(35, 35, 35, 1) 0%, rgba(57, 57, 57, 0) 100%);
    list-style: none;
    height: 7.5vw;
    margin-bottom: 2vh;
    position: relative;
    right: -100vw;
}

#match-table li.me {
    background: rgb(94, 75, 46);
    background: linear-gradient(336deg, rgb(209 9 9) 0%, rgba(139, 102, 47, 0) 100%);
}

#match-table li:nth-child(1).me {
    background: rgb(94, 75, 46);
    background: linear-gradient(336deg, rgba(94, 75, 46, 1) 0%, rgba(139, 102, 47, 0) 100%);
}

#match-table li .character-thumbnail {
    width: 8vw;
    float: left;
    margin-top: -0.5vw;
    margin-left: -3vw;
    margin-right: 1vw;
}

#match-table li .username {
    font-size: 2vw;
    display: block;
    width: calc(100% - 7vw);
    margin: 0px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-left: -0.8vw;
    height: 2.2vw;
}

#match-table li .username .actions {
    float: right;
    margin-right: 7vw;
    height: 2vw;
}

#match-table li .username .actions .seperator {
    margin-right: 1vw;
    border-left: solid 0.15vw #292929;
    height: 2.2vw;
    float: right;
    margin-top: 0.5vw;
    margin-left: 1.4vw;
}

#match-table li .username .actions .button.danger {
    float: right;
    font-size: 1.2vw;
    padding: 0.7vw;
    background: rgb(44 44 44);
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    /* border: solid 0.15vw #191919; */
    border-top: solid 0.15vw #464646;
    border-bottom: solid 0.15vw #212121;
    text-shadow: 0px 0.15vw 0px #000;
}

#match-table li .username .actions .button {
    float: right;
    font-size: 1.2vw;
    padding: 0.7vw;
    background: rgb(216 162 34);
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    /* border: solid 0.15vw #191919; */
    border-top: solid 0.15vw #ffc738;
    border-bottom: solid 0.15vw #8d7226;
    text-shadow: 0px 0.15vw 0px #b6881c;
    opacity: 0.9;
}

#match-table li .username .actions .button:hover {
    opacity: 1;
}

#match-table li .stats {
    margin-left: 1vw;
    font-size: 2vw;
    font-weight: bold;
    float: left;
}

#match-table li .stats small {
    /* display: block; */
    font-size: 1vw;
    margin-left: 0.5vw;
    color: #707070;
    text-transform: uppercase;
}

#match-table li .kills {
    color: #ffbb17;
    margin-left: 0;
    width: 9vw;
}

#match-table li .deaths {
    display: block;
    color: #ff2d2d;
    width: 9vw;
}

#match-table li .headshots {
    display: block;
    color: #ff562d;
}

#match-table li .score {
    display: block;
    color: #ffea2d;
}

#match-table li .rank {
    float: right;
    color: #414141;
    font-size: 4vw;
    margin-top: -3vw;
    margin-right: 3vw;
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto Condensed';
    /* text-shadow: 0px 0px 10px #fff; */
}

#match-table li.winner .rank {
    color: #ffbb17;
}

#match-table li.me .rank {
    color: #fff;
}

#match-table li:nth-child(1) {
    animation: slideInLeft 1s ease-out;
    animation-fill-mode: forwards;
}

#match-table li:nth-child(2) {
    margin-left: 1vw;
    animation: slideInLeft 1s ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

#match-table li:nth-child(3) {
    margin-left: 2vw;
    animation: slideInLeft 1s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#match-table li:nth-child(4) {
    margin-left: 3vw;
    animation: slideInLeft 1s ease-out;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes slideInLeft {
    100% {
        right: 0vw;
    }
}

#result-part {
    float: left;
    width: 23vw;
}

#next-map {
    float: right;
    width: 30vw;
    text-align: left;
    margin-right: 3.5vw;
    /* padding: 0.5vw 1.5vw; */
    background-size: 100%;
    background-position: center center;
    /* border: solid 0.2vw #ffffff; */
    /* border-radius: 0.2vw; */
    /* text-shadow: 0px 0px 0.5vw #000; */
    height: 4.4vw;
    margin-top: 0.5vw;
    position: relative;
}

#next-map .next-game {
    color: #bdbdbd;
    font-size: 1.5vw;
    display: block;
    /* float: left; */
}

#next-map .begins-in {
    color: #fff;
    font-size: 2vw;
    display: block;
    float: left;
}

#next-map .time {
    color: #fff;
    /* float: right; */
    font-size: 4.2vw;
    position: absolute;
    font-weight: bold;
    right: 12vw;
    top: -0.4vw;
}

#next-map .time small {
    color: #ddd;
}

#next-map .big-leave-button {
    color: #fff;
    text-decoration: none;
    background: #fe2324;
    height: 4vw;
    display: block;
    position: absolute;
    top: 0px;
    width: 10vw;
    text-align: center;
    line-height: 4vw;
    font-size: 1.8vw;
    font-weight: bold;
    right: 0px;
    border-radius: 0.4vw;
    border-bottom: solid 0.3vw #b82323;
    border-top: solid 0.3vw #ff3535;
    text-shadow: 0px 1px 2px #630505;
}

#next-map .timer {
    display: block;
    font-size: 1.2vw;
    /* font-weight: bold; */
    color: #666;
}

#next-map .timer span {
    font-weight: bold;
}

#next-map .map-name {
    margin: 0px !important;
    padding: 0px;
    display: block;
    margin-top: 1vw !important;
    text-align: left;
    font-size: 2vw;
    height: 0.7vw;
    float: right;
}

#next-map .map-name img {
    float: left;
    height: 2.4vw;
    margin-right: 1.2vw;
    border-radius: 0.2vw;
}

#character-mvp .title {
    color: #fff;
    display: block;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Roboto';
    letter-spacing: -0.2vw;
    border-bottom: solid 0.15vw #363636;
    margin-bottom: 1vw;
    width: 14vw;
    text-shadow: 0px 0px 1vw #ffb80f;
}

#character-mvp .name {
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    border-left: solid 0.2vw #fff;
    padding-left: 1vw;
    text-transform: uppercase;
    display: block;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

#character-mvp .stats {
    color: #ffbb17;
    display: block;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    border-left: solid 0.2vw #ffbb17;
    padding-left: 1vw;
    text-transform: uppercase;
    text-shadow: 0px 0.15vw 0.15vw #000;
}

.actions .action-line {
    display: block;
    color: #6f6f6f;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
    /* text-shadow: 0px 1px 1px #000; */
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
}

.actions .action-line .fa {
    width: 2vw;
    text-align: center;
}

.actions .action-line b {
    color: #fff;
    float: right;
    margin-left: 1.5vw;
}

.actions .action-line b.coin {
    color: #ffbb17;
    text-shadow: 0px 0px 1vw #ffbb17;
    font-size: 1.5vw;
    line-height: 1.3vw;
}

.actions .action-line:nth-child(1) {
    animation: expandDown 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.actions .action-line:nth-child(2) {
    animation: expandDown 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.actions .action-line:nth-child(3) {
    animation: expandDown 1s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes expandDown {
    0% {
        margin-top: -2vw;
        opacity: 0;
    }
    100% {
        margin-top: 0vw;
        opacity: 1;
    }
}

#time-bar {
    width: 0%;
    height: 0.3vw;
    background-color: #ff2424;
    text-shadow: 0px 0px 1vw red;
    animation: time-bar 17s linear;
    animation-fill-mode: forwards;
    z-index: 100;
    position: absolute;
}

#time-bar.victory {
    background-color: #ffbb17;
    box-shadow: 0px 0px 1vw #ffbb17;
}

@keyframes time-bar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#result-chat {
    position: absolute;
    bottom: 8vw;
    left: 1.5vw;
    color: #fff;
    list-style: none;
    width: 20vw;
}

#result-chat li {
    color: #fff;
    font-size: 1.3vw;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.2vw;
    padding: 0.5vw 1vw;
}

#result-chat li b {
    color: #848484;
}

#result-chat li a {
    text-decoration: none;
    font-weight: bold;
    color: #d1d1d1;
}

#result-chat input {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5vw 1vw;
    border: solid 0.1vw #2e2e2e;
    font-size: 1.1vw;
    margin-top: 1vw;
}

.fade-out #match-table {
    animation: slideOutLeft 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
    0% {
        right: 0vw;
    }
    100% {
        right: -100vw;
    }
}

.fade-out .fade-out-content {
    animation: fadeOut 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.btn-settings {
    float: right;
    text-decoration: none;
    color: #fff;
    background: rgb(36 36 36);
    font-size: 1.5vw;
    padding: 0vw 3vw;
}

.btn-leave {
    float: right;
    color: #fff;
    text-decoration: none;
    background: rgb(247 73 36);
    padding: 0vw 2vw;
    font-size: 1.5vw;
    /* margin-left: 1vw; */
}

#next-map .big-play-button {
    color: #fff;
    text-decoration: none;
    background: #fe2324;
    height: 4vw;
    display: block;
    position: absolute;
    top: 0px;
    width: 10vw;
    text-align: center;
    line-height: 4vw;
    font-size: 1.8vw;
    font-weight: bold;
    right: 0px;
    border-radius: 0.4vw;
    border-bottom: solid 0.3vw #b82323;
    border-top: solid 0.3vw #ff3535;
    text-shadow: 0px 1px 2px #630505;
}

#next-map .big-play-button {
    position: fixed;
    right: 3vw;
    bottom: 3vw;
    top: inherit;
    transform: scale(1.3);
    transform-origin: right bottom;
    width: 15vw;
    background: #959811;
    border-bottom: solid 0.3vw #408d03;
    border-top: solid 0.3vw #9aa020;
    z-index: 1000;
}

#next-map .big-play-button .fa-caret-right {}

.big-leave-button {
    background: rgba(255, 255, 255, 0.2) !important;
    border-bottom: none !important;
    border-top: none !important;
}